body {
    margin: 0;
    padding: 0;
}

.top-nav {
    display: flex;
    margin-top: 2%;
    margin-left: 7%;
    margin-right: 7%;
}

.mission-text {
    width: 50%;
    margin-top: 2%;
}

.heading {
    border-left: 5px solid blue;
}

p {
    color: rgb(100, 84, 84);
    font-size: 18px;
    font-weight: 500;
}

.heading h1 {
    line-height: 0.3;
    font-size: 45px;
    margin-left: 10px;
}

.tomato-color {

    color: tomato;
}

.button {
    background-color: #FF5959;
    border-style: none;
    font-size: 16px;
    padding: 12px 25px;
    color: #FFFFFF;
    border-radius: 5px;
}

.mission-img {
    width: 50%;
}

.mission-img img {
    width: 60%;
    margin-left: 15%;
    margin-top: -8%;

}



.flex-parentdiv {
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
}

.big-heading {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding-top: 45px;
}

.perple-color {

    color: #4E1747;
}

.mission-box {
    margin-right: 30px;
    padding: 7px 15px;
    border-radius: 15px;
}

h4 {
    font-size: 22px;
}

.mission1 {
    background-color: #cff4f8;
}

.mission2 {
    background-color: #fce5e5;
}

.mission3 {
    background-color: #EDF5F6;
}

.coding-pic-area {
    margin-top: 70px;
    margin-right: 45px;
    width: 40%;

}

.develop-area {
    width: 60%;
    margin-top: 90px;
    margin-right: 55px;
}

.develop-area h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: .3;
}

.coding-pic img {
    width: 50%;
}

.customer-section {
    padding-bottom: 70px;
    background-color: #F7F7F7;
}

.quotation {
    color: gray;
    font-size: 100px;
    margin-top: 60px;
}

.quotaion-ptag {
    border-left: 8px solid #18A0FB;
    padding: 5px;
}

.customer-review {
    margin-top: 50px;
}

.sign1 {
    background-color: #007ab6;
    padding: 12px 12px;
    font-size: 22px;
    color: #FFF;
    margin-right: 5px;
}

.sign {
    margin-top: 40px;
}

.sign2 {
    background-color: #007ab6;
    padding: 12px 15px;
    color: #FFF;
    font-size: 22px;
    /* margin-left: 5px; */
}

.customers-img {
    border-radius: 50%;
}

.footer-ptag {
    color: #cff4f8
}

footer {
    text-align: center;
    background-color: #0B0D17;
    padding: 15px 0;
    color: #FFFFFF;
}